@font-face {
    font-family: MontserratEB;
    src: url("MonteserratExtraBold/Montserrat-ExtraBold.otf") format("opentype");
}

@font-face {
    font-family: MontserratEB;
    font-weight: bold;
    src: url("MonteserratExtraBold/Montserrat-ExtraBold.otf") format("opentype");
}

@font-face {
    font-family: MontserratEL;
    src: url("MonteserratExtraBold/Montserrat-ExtraLight.otf") format("opentype");
}

@font-face {
    font-family: MontserratEL;
    src: url("MonteserratExtraBold/Montserrat-ExtraLight.otf") format("opentype");
}

h1 {
    color: white;
    font-family: 'MontserratEB', sans-serif; 
}

body {
    background-color: #001B2B;
    font-family: 'MontserratEL', sans-serif;
    color: white;
    font-size: 18px;
}

.slogan {
    font-size: 17px;
    font-family: 'MontserratEL', sans-serif;
    font-weight: 100;
}

.celsius {
    color: #FB7612;
    font-family: 'MontserratEB', sans-serif; 
}

.push {
    height: 45px;
}

.logo-font-size {
    font-size: 35px;
    font-weight: bold;
}

.ul-nav li {
    font-size: 20px;
    font-weight: bold;
}

.brandlogo {
    height: 50px;
    margin-top: -10px;
}

.video-container {
    width: 100%;
    max-height: 400px;  
    overflow: hidden;  
  }

  video {
      width: 100%;
  }

  hr {
      border-color: #FB7612;
  }

.para-1 {
    border-right: 1px solid #FB7612;
}

.contactmaps {
    
    width: 100%;
}

.box {
    max-width: 500px;
    min-height: 370px;
    /* border: 3px solid orange; */
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.boxlocked {
    border: 3px solid #FB7612;
}

.vcenter {
    margin-top: 60px;
}

.box .unlocked {
    max-height: 100%;
    max-width: 100%;
}
.box .locked {
    max-height: 75px;
    display:block;
    margin:auto;
    padding:10px;
}

.padclick {
    cursor: pointer;
}

.abouttitle {
    font-weight: 900;
    padding: 25px;
}

.verticalcenter {
    
    display:block;
    margin: 70px auto;
}   

.horizontalcenter {
    display:block;
    margin:auto;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
  }
  
  /* Add some content at the bottom of the video/page */
  .content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }
  
  /* Style the button used to pause/play the video */
  #myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
  }
  
  #myBtn:hover {
    background: #ddd;
    color: black;
  }

  .showvideo{
      display: none;
  }
@media only screen and (max-width:1199px) {
    .verticalcenter{
        margin-top: 83px;
    }
    .pad1 {
        margin-top: 80px;
    }
}
@media only screen and (max-width:991px) {
    .horizontalcenter {
        margin-top: 50px;
    }
    .pad1 {
        margin-top: 0px;
        padding-bottom: 8px;
    }
}

@media only screen and (max-width:767px) {
    .verticalcenter {
        margin: 70px auto;
        padding: 10px;
    }
    .horizontalcenter {
        margin-top: 0px;
        height: 200px;
        padding: 10px;
    }
    #hidewoordenboek {
        border: 1px solid white;
    }
}
@media only screen and (max-width:400px) {
    .brandlogo {
        height: 40px;
    }
}
@media only screen and (max-width:460px) {
    
    .verticalcenter {
        display: none;
    }
}

@media only screen and (max-width:768px) {
    .hidevideo {
        display: none;
    }
    .showvideo {
        display: block;
    }
}



