@font-face {
    font-family: MontserratEL;
    src: url("MonteserratExtraBold/Montserrat-ExtraLight.otf") format("opentype");
}

@font-face {
    font-family: MontserratEL;
    src: url("MonteserratExtraBold/Montserrat-ExtraLight.otf") format("opentype");
}

.navbar-fixed-top {
    border-color: #001B2B;
}

.navbar {
    background-color: #001B2B;
}

.navbar-header {
    height:60px;
}

.navbar-default .navbar-brand {
    color: white;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #FB7612;
}
/* Link */
.navbar-default .navbar-nav > li > a {
    color: white;
    line-height: 30px;
    font-family: 'MontserratEL', sans-serif;
    font-weight: 100;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #FB7612;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: white;
    background-color: #001B2B;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: white;
    background-color: #001B2B;
}
/* Caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: white;
    border-bottom-color: white;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* Mobile version */
.navbar-default .navbar-toggle {
    border-color: #001B2B;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #001B2B;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.dropdown-menu {
    background-color: #001B2B;
}

.dropdown-menu li a {
    color: white;
}

.dropdown-menu li a:hover {
    background-color: #001B2B;
    color: #FB7612;
}

ul {
    display: inline-block;
}

ul li ul {
    display: inline-block;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color:#FB7612;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
          color: white;
    }
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header .collapse, .navbar-toggle {
        display:block !important;
    }
    .navbar-header {
        float:none;
    }
}



